.name
{
    height: 200px;
    width: 400px;
    text-align: center;
    margin: 100px auto;
    position: relative;
    
}

.name::after
{
    content: "";
    height: 200px;
    width: 400px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    animation: name 8s infinite;
}
@keyframes name
{
    from{left: 2%;}
    to{left: 100%;}
}


.blink
{
    height: 30px;
    width: 5px;
   background: #000;
   
   position: absolute;
   top: 0;
   left: 0;

    
   
   animation: test 8s infinite ;

 
}


   

 @keyframes test
{
    from{left: 0%; opacity: 0; }
    to{left: 100%; opacity: 1;}
} 

